<HTML>
<HEAD>
<TITLE>Balance Game to Test my MBTI </TITLE> 
</HEAD>

<!--페이지 헤드라인과 전체 배경색 지정-->
<BODY style="background-color:#f7cac9">
<BR></BR>
<span style=" font: italic bold 2em/1em Georgia, serif ; color:#a52a2a;">
<BR><H1 align="center" size="30"> Balance Game to <BR></BR> Test my MBTI</H1><BR></span>

<!--이름을 입력함을 확인받는 동시에 다음페이지로 넘어가는 기능을 가진 버튼 만들기-->
<center><font-size:30;><input id='name'; type="text" name="ireum"  placeholder="이름을 입력하세요."></font>
  <a href="Lv1.html">
  <input id="txt" readonly="true" type="number" value=OK name="name" style="border:none;background-color:#ff8989; font-size:20; padding:5px 20px; 
  border-radius:0.5em; width:70px;height:30px;font-size:15px;" onClick="findInthePage(document.getElementById('txt').value)"></a>
</center>

<!--text타입의 input에 지정해준 id인 txt를 이용하여 입력값을 받는 역할을 하는 함수 사용-->
<script>
  function btn() {
      var txt = document.getElementsById("txt").value
  }
  location.href=txt+"의 "+ "MBTI는 "+mbti+" 입니다."

</script>

</BODY>
</HTML>